* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #0f0f1a;
    color: white;
}

header {
    background-color: #111;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

.banner {
    text-align: center;
    padding: 30px;
    background-color: #1a1a2e;
}

.produtos {
    padding: 20px;
    text-align: center;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.card {
    background-color: #1f1f2e;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

button {
    background:rgb(255, 255, 255)

}


.botoes{
    display:flex;
    gap:15px;
    justify-content:center;
}

button{
    padding: 12px 20px;
    border-radius:20px;
    background:rgb(0, 67, 145);
    color: #fff;
}
button:hover{
    background: rgb(0, 99, 212);
    transform:translateY(-5px);
    box-shadow:0px 5px 5px #fff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;
}